[Desktop Entry]
Name=EternalModManager
Comment=Cross platform mod manager for DOOM Eternal.
Exec=eternalmodmanager
Type=Application
Icon=com.powerball253.eternalmodmanager
Categories=Utility
