body {
    font-family: 'Segoe UI', system-ui, monospace;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#terminal {
    height: 484px;
    width: 982px;
}
